.circle-img {
    width: 600px; /* Adjust the size as needed */
    height: 600px; /* Adjust the size as needed */
    border-radius: 50%;
    margin: 4rem 0;
    padding: 0;
    overflow: hidden;
}
.circle-img img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    background-color: rgb(68, 66, 66);
}
nav{
    background-color: #052938;
}
.navbar-brand{
    color: #fff;
}
.nav-link{
    color: #fff;
}
.container{
    margin: 0 2rem;
}